version: "3.9"

services:
  db:
    container_name: group7_db
    image: postgres:15
    environment:
      POSTGRES_DB: group7
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: T74l82J04a12theb!
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_net

  backend:
    container_name: group7_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:T74l82J04a12theb!@db:5432/group7"
    ports:
      - "8000:8000"
    networks:
      - app_net

  frontend:
    container_name: group7_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "8501:8501"
    networks:
      - app_net

networks:
  app_net:

volumes:
  postgres_data:

