services:
  db:
    container_name: postgresql_db
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    user: "0:0"

  core:
    container_name: core
    build:
      context: .
      dockerfile: core/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: db
      DB_PORT: 5432

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    depends_on:
      core:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: db
      DB_PORT: 5432
    volumes:
      - ./backend:/backend
      - ./backend/images:/backend/images

  ds:
    container_name: ds
    build:
      context: ./ds
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    volumes:
      - ./ds:/ds
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: frontend/Dockerfile
    depends_on:
      - backend
    ports:
      - "8501:8501"
    environment:
      BACKEND_URL: http://backend:8000
    volumes:
      - ./frontend:/app/frontend
